/* Load Fonts */
@font-face {
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BSqn7FernLolrt-MFco9WlQlYEbsez9cZjKsNMjLOwM.eot);
  src: local("Schoolbell"), url(fonts/BSqn7FernLolrt-MFco9WlQlYEbsez9cZjKsNMjLOwM.eot) format("embedded-opentype"), url(fonts/BSqn7FernLolrt-MFco9WhsxEYwM7FgeyaSgU71cLG0.woff) format("woff"), url(fonts/BSqn7FernLolrt-MFco9WiEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);
  src: local("Open Sans"), local("OpenSans"), url(fonts/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot) format("embedded-opentype"), url(fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"), url(fonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}


/* Fix angular cloak flicker */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}


/* CSS Reset */
html {
	font-family: "Open Sans", Arial, sans-serif;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
	overflow: auto;
}


/* Page */
html {
  color: #000;
  font-size: 1em;
  line-height: 1.5;
}

h1 {
  color: #000;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Header */
header {
  background: #e6e6e6 url(images/tear.svg) bottom repeat-x;
  height: 4em;
  margin-bottom: 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header:after {
  content: "SoCreate.it";
  font-size: 200%;
  position: absolute;
  right: 1em;
  top: 0.05em;
}

header h1 {
  background: url(images/logo.svg);
  height: 3.625rem;  
  margin: 0;
  overflow: hidden;
  text-indent: -999px;
  width: 4rem;
  white-space: nowrap;
}


/* Apps */
#apps {
  padding: 5em 1.5em 2em;
  white-space: nowrap;
}

#apps > div {
  border-left: solid 1px #ddd;
  display: inline-block;
  min-width: 19em;
  max-width: 22em;
  text-align: right;
  width: 33.33333334%;  
  white-space: normal;  
}

body > div[ng-controller*=FollowUpController],
#app > div {
  max-width: 30em;
  margin: 0 auto;
  padding: 5em 3.5em 2em;
}

#apps > div:first-child {
  border: none;
}

#apps > div > div {
  padding: 0 2em;      
}

#apps h1,
#apps ul {
  text-align: left;
}


/* Forms */
label {
  display: block;  
  font-size: 65%;
  margin-top: 1em;
  text-transform: uppercase;
}

input,
textarea {
  border: solid 1px #000;
  border-radius: 0.5em;
  box-sizing: border-box;
  font: 0.9em/1.5 Arial, sans-serif;
  padding: 0.3em 0.4em;
}

input:focus,
textarea:focus {
  border-color: #60c126;
  box-shadow: 0px 0px 15px 5px rgba(96, 193, 38, .15);
  outline: none;
}

input {
  width: 75%;
}

textarea {
  height: 6em;
  width: 100%;
}


button {
  background: #b3b3b3;
  border: none;
  border-radius: 0.5em;
  color: #fff;
  font-size: 72%;
  padding: 0.2em 0.7em;
  transition: transform 0.15s ease-out;
  vertical-align: middle;
}

button:hover,
button:active,
button:focus {
  background: #60c126;
  color: #fff;
  outline: none;
}

button:active {
  transform: scale(0.8);
}

button[ng-click*=clear] {
  float: left;
  margin-top: 0.1em;
}

button[ng-click*=create] {
  background: #3ca6dd;
  clear: both;
  color: #fff;
  display: block;
  font-family: "Schoolbell", Arial, sans-serif;
  font-size: 130%;
  margin: 1em auto;
  max-width: 12em;
  padding: 0.3em 1em;
  width: 75%;
}

button[ng-click*=create]:hover,
button[ng-click*=create]:focus,
button[ng-click*=create]:active {
  background: #60c126;
}


/* Menu Controller */
#spawnerApp {
  position: fixed;
  left: 5em;
  top: 0.8em;
}

[ng-if*="tombstonedAppIds"] {
  display: inline-block;
  font-size: 90%;
  margin-left: 0.5em;
  vertical-align: middle;
  color: #3ca6dd;
  position: relative;
}

[ng-if*="tombstonedAppIds"]:hover {
  cursor: pointer;
}

[ng-if*="tombstonedAppIds"] ul {
  background: #fff;    
  box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.36);
  border-radius: 0.5em;
  display: none;
  left: -0.2em;
  position: absolute;
  padding: 1em;
  white-space: nowrap;
}

[ng-if*="tombstonedAppIds"]:hover ul {
  display: block;
}

[ng-if*="tombstonedAppIds"] ul li {
  padding: 0.3em 0;
}

[ng-if*="tombstonedAppIds"] ul li:hover {
  color: #60c126;;
  text-decoration: underline;
}

button[ng-click*=addApp] {
  background-color: #3ca6dd;
  color: #fff;
  font-size: 90%;  
}

button[ng-click*=addApp]:hover,
button[ng-click*=addApp]:focus,
button[ng-click*=addApp]:active {
  background: #60c126;
}